.detailBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  border: solid cadetblue 3px;
  background-color: rgb(191, 255, 234);
  margin-left: 20%;
  margin-right: 20%;
}

.detailPic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  width: 85%;
  height: 100%;
  object-fit: cover;
}

.detailText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 2%;
  padding-right: 2%;
}

.deleteBtnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}

.deleteBtn {
  width: 20%;
  color: #fff !important;
  background-color: #ff0080 !important;
  border-color: #fff !important;
}
