.movieCard {
  border: 3px solid cadetblue !important;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2) !important;
  background-color: rgb(222, 252, 241) !important;
}

.movieTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px !important;
}
.detailBtn {
  width: 100%;
  color: #fff !important;
  background-color: #ff0080 !important;
  border-color: #fff !important;
}
